<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >
    <!-- <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />  -->
    <xacro:arg name="use_nominal_extrinsics" default="true"/>
    <!-- <xacro:arg name="use_nominal_extrinsics" default="false"/> -->
    <xacro:arg name="add_plug" default="false" />
    <xacro:arg name="use_mesh" default="true" />
    <!-- <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" /> -->
    <xacro:include filename="_d435.urdf.xacro" />
    <!-- <xacro:include filename="_d435.gazebo.xacro" /> -->



    <xacro:sensor_d435 name="camera1" topics_ns="camera1" parent="base_link" publish_pointcloud="true">
        <origin xyz="${camera_1_origin}" rpy="${camera_1_rotation}"/>
    </xacro:sensor_d435>
  

    <xacro:sensor_d435 name="camera2" topics_ns="camera2" parent="base_link" publish_pointcloud="true">
        <origin xyz="${camera_2_origin}" rpy="${camera_2_rotation}"/>
    </xacro:sensor_d435>
  
</robot>