<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" >

  <xacro:arg name="use_nominal_extrinsics" default="true"/>
  <!-- <xacro:arg name="use_nominal_extrinsics" default="false"/> -->
  <xacro:arg name="add_plug" default="false" />
  <xacro:arg name="use_mesh" default="true" />
  <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />
  <!-- <xacro:include filename="_d435.urdf.xacro" /> -->
  <xacro:include filename="_d435.gazebo.xacro" />



  <xacro:sensor_d435 parent="base_link" name="camera1" use_nominal_extrinsics="$(arg use_nominal_extrinsics)" add_plug="$(arg add_plug)" use_mesh="$(arg use_mesh)">
    <origin xyz="${camera_1_origin}" rpy="${camera_1_rotation}"/>
  </xacro:sensor_d435>
  
  <!-- Realsense Gazebo Plugin -->
  <xacro:property name="name" value="camera1" />
  <xacro:property name="topics_ns" value="camera1" />
  <xacro:property name="publish_pointcloud" value="true"/>

  <xacro:gazebo_d435 camera_name="${name}" reference_link="${name}_link" topics_ns="${topics_ns}" depth_optical_frame="${name}_depth_optical_frame" color_optical_frame="${name}_color_optical_frame" infrared1_optical_frame="${name}_left_ir_optical_frame" infrared2_optical_frame="${name}_right_ir_optical_frame" publish_pointcloud="${publish_pointcloud}">
  </xacro:gazebo_d435>

  <xacro:sensor_d435 parent="base_link" name="camera2" use_nominal_extrinsics="$(arg use_nominal_extrinsics)" add_plug="$(arg add_plug)" use_mesh="$(arg use_mesh)">
    <origin xyz="${camera_2_origin}" rpy="${camera_2_rotation}"/>
    <!-- <origin xyz="${camera_2_origin}" rpy="0 0 0"/> -->
  </xacro:sensor_d435>

  <xacro:property name="name" value="camera2" />
  <xacro:property name="topics_ns" value="camera2" />
  <xacro:arg name="publish_pointcloud" default="true"/>
  <xacro:gazebo_d435 camera_name="${name}" reference_link="${name}_link" topics_ns="${topics_ns}" depth_optical_frame="${name}_depth_optical_frame" color_optical_frame="${name}_color_optical_frame" infrared1_optical_frame="${name}_left_ir_optical_frame" infrared2_optical_frame="${name}_right_ir_optical_frame" publish_pointcloud="${publish_pointcloud}">
  </xacro:gazebo_d435>
  
</robot>