<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="RobuROC">
    <!-- Add all parameters -->
    <xacro:include filename="include_RobuROC.xacro" />    
    <!-- Add platform -->
    <xacro:include filename="RobuROC_core_vis.urdf.xacro" />
    <!-- Add two Realsense D435 RGB-D cameras -->
    <xacro:include filename="camera_depth.xacro"/>
    <!-- <xacro:include filename="real_sense_cameras.xacro"/> -->
    <!-- Add Lidar velodyne-16 -->
    <xacro:include filename="lidar_vlp_16.xacro" />
    <!-- <xacro:include filename="lidar.xacro"/> -->
    <!-- Include gazebo model -->
    <xacro:include filename="RobuROC_gazebo_sim.xacro" />

</robot>